body {
	font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	background: #151515;
	color: #737373;
    font-size: 20px;
    font-weight: 100;
    line-height: .85;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container h1 {
    font-family: 'Chewy', cursive;
    font-weight: bold;
    font-size: 15vw;
    display: inline-block;
    background-image: url(assets/img/text_bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container > span {
    display: block;
    margin: 20px 0;
    padding: 0 30px;
}
.container a {
    display: inline-block;
    text-decoration: none;
    margin: 0 2.5px;
    padding: 15px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.02);
}
.container a:hover {
    background-color: rgba(255, 255, 255, 0.04);
}
.container a img {
    display: block;
	height: 20px;
    opacity: 1;
}