* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
html {
	height:100%;
}
body {
	height:100%;
	font-family: 'Lato', sans-serif;
	background: #fff;
	color: #333;
}
a {
	color: #fff;
}
.container {
	height: 100%;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: center;
    justify-content: flex-start;
    border-left: 5px solid #FF4B4B;
}
.content {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    padding: 30px;
    text-align: left;
    overflow: hidden;
}
.content h1 {
    font-weight: bold;
    font-size: 80px;
    margin: 0 0 20px 0;
    color: #333;
}
.content h1 span {
	color: #FF4B4B;
}
.content > span {
    display: block;
    font-size: 20px;
    margin-bottom: 30px;
    color: #333;
    font-weight: 300;
}
.content a {
    display: block;
    float: left;
	text-decoration: none;
	margin-right: 10px;
}
.content a:last-child {
    margin-right: 0;
}
.content a svg {
    display: block;
	height: 30px;
	fill: #333;
}
.content a.facebook:hover svg {
	fill: #3B5998;
}
.content a.github:hover svg {
	fill: #181717;
}
.content a.dribbble:hover svg {
	fill: #EA4C89;
}
.content a.linkedin:hover svg {
	fill: #0077B5;
}
.content a.instagram:hover svg {
	fill: #125688;
}
.content a.twitter:hover svg {
	fill: #55ACEE;
}
